# MongoDB Connection String
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.y85m2k4.mongodb.net/?appName=Cluster0

# Server Port
PORT=5000

# Admin Credentials
ADMIN_EMAIL=admin@mes.com
ADMIN_PASSWORD=admin123

# Frontend API URL
VITE_API_URL=http://localhost:5000/api
